Source: gxde-icon-theme
Section: x11
Priority: optional
Maintainer: gfdgd xi <3025613752@qq.com>
Standards-Version: 3.9.8
Build-Depends:
 debhelper (>= 9),
 gtk-update-icon-cache,
 x11-apps

Package: gxde-icon-theme
Architecture: all
Depends: papirus-icon-theme
Conflicts: gxde-cursor-theme, deepin-icon-theme
Replaces: deepin-icon-theme
Provides: deepin-icon-theme
Recommends: gxde-sea-icon-theme
Description: GXDE Icons
 This package is GXDEIconTheme 

Package: gxde-sea-icon-theme
Architecture: all
Conflicts: gxde-icon-theme (<< 15.12.65)
Replaces: sea-icon-theme
Description: GXDE Sea Icons 
 This package is GXDEIconTheme Sea
